.scrollup {
  position: fixed;
  right: calc(2.5rem + 17px);
  bottom: -20%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  z-index: 10;
  transition: var(--transition);
}
.scrollup_icon {
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-primary);
}
.scrollup_icon:hover {
  background: transparent;
  color: var(--color-white);
}
.show-scroll {
  bottom: 3rem;
}
@media screen and (max-width: 992px) {
  .scrollup {
    right: 1.5rem;
    padding: 0.3rem;
  }
  .scrollup_icon {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .scrollup {
    right: 1rem;
    padding: 0.4rem;
  }
  .scrollup_icon {
    font-size: 1.3rem;
  }
}
