
#project {
  height: 88vh;
}

.project_swiper_project_title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  text-decoration: underline;
  color: var(--color-primary);
  text-align: center;
}

.project_swiper_description {
  margin-top: 0.2rem;
  color: var(--color-light);
  font-size: 1rem;
  text-align: center;
}

.project_swiper_buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.project_swiper_button {
  display: inline-block;
  margin: 0 0.5rem; /* Add margin between buttons */
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  transition: all ease-in-out 0.3s;
}


.project_swiper_button:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
  transform: scale(0.9);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}


.swiper-button-next,
.swiper-button-prev {
  color: var(--color-primary);
}

.swiper-pagination-bullet {
  background-color: var(--color-primary);
}

/* Swiper Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--color-secondary);
}

/* Swiper Pagination */
.swiper-pagination {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-primary);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Swiper Slide */
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.project_swiper_image {
  width: 100%;
  max-height: 450px; /* Increased height to make the image more prominent */
  object-fit: contain; /* Makes the image fill the area more naturally */
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
  transform-style: preserve-3d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem; /* Adds spacing below the image */
}



.project_swiper_image_wrapper {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
