/* Keyframes for the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Header Styles */
.header {
  margin-top: 5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.hello_wave {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 0.6s ease-in-out 0.3s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wave {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 10px;
}

.say_hi {
  text-align: center;
  margin-top: 20px;
  color: var(--color-primary);
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

.text_light {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInRight 0.6s ease-in-out 0.3s forwards;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.text {
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-primary);
  text-align: center;
}

/* Default logo styles */
.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-bg-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
  animation: shake 0.6s ease-in-out infinite; /* Apply shake animation by default */
}

/* No shake when expanded */
.logo.expanded {
  width: 200px;
  height: 200px;
  color: var(--color-bg-variant);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #5408d9;
  animation: none; /* Remove shake animation when expanded */
}

.logo_text {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.details {
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadeInDown 0.6s ease-in-out 0.3s forwards;
  z-index: 2;
  text-align: center;
}

.typewriter {
  text-align: center;
}

.scroll_down {
  position: absolute;
  right: 5%;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  left: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .header {
    height: 57vh;
  }

  .hello_wave {
    margin-bottom: 0.5rem;
  }

  .scroll_down {
    display: none;
  }
}
