/* Navbar.module.css */
.navbar {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
}

.navbar a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

.navbar a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.navbar a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.7rem 1.2rem;
    bottom: 1.5rem;
  }

  .navbar a {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}
